.profile_changepin-main {
	margin: 0px 20px;
	background-color: #ffffff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 25px;
	padding: 24px 32px;
}
.profile_changepin-wrapper-pin {
	margin: 4rem auto;
	width: 50%;
}
.pin-active {
	border: 1px solid #6379f4;
	box-sizing: border-box;
	box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
	border-radius: 10px;
}
.pin-default {
	border: 1px solid rgba(169, 169, 169, 0.6);
	box-sizing: border-box;
	box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
	border-radius: 10px;
}

@media (max-width: 575.98px) {
	.profile_changepin-container {
		width: 100% !important;
	}
	.pin_test {
		width: 50% !important;
		margin-bottom: 20px;
	}
	.auth_pin-input {
		padding: 0px 14px !important;
	}
}
