.profile_changepassword-main {
	background-color: #ffffff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	margin: 0px 20px;
	border-radius: 25px;
}
.profile_changepassword-container {
	margin-top: 30px;
	padding: 12px 18px;
}
.profile_changepassword-form-wrapper {
	position: relative;
}
.profile_changepassword-form-wrapper > svg {
	position: absolute;
	top: 5px;
	left: auto;
	right: auto;
	bottom: 0px;
}
.profile_changepassword-form {
	text-align: center;
}
