@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
@import url(./pages/auth/Auth.css);
@import url(./home/dashboard/style.css);
@import url(./home/transfer/style.css);
@import url(./home/profile/style.css);
*,
html {
	margin: 0px;
	padding: 0px;
	font-size: 1rem;
	font-family: "Nunito Sans", sans-serif;
}

.container_main {
	padding: 0px 92px !important;
}

/* NAVBAR */

.nav__main {
	background-color: #ffffff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 0px 0px 25px 25px;
}
.nav__brand-title {
	color: #6379f4;
	font-weight: bold;
	font-size: 29px;
	cursor: pointer;
}
.nav__brand-title:hover {
	text-decoration: underline;
}
.nav__profile-user-name {
	color: #3a3d42;
	font-weight: bold;
	font-size: 18px;
}
.nav__profile-user-tel {
	color: rgba(58, 61, 66, 0.9);
	font-size: 13px;
}

/* FOOTER */
.footer_main {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #6379f4;
	color: #ffffff;
}
.footer_text-copyright {
	color: rgba(239, 239, 239, 0.9);
	font-size: 16px;
	margin-top: 30px;
}
.footer_column {
	display: flex;
}
.footer_text-contact-tel {
	margin-top: 20px;
	margin-right: 20px;
	color: #efefef;
	font-weight: 600;
	font-size: 16px;
}
.footer_text-contact-mail {
	margin-top: 20px;
	margin-right: 0px;
	color: #efefef;
	font-weight: 600;
	font-size: 16px;
}

/* NOTIFICATION */
.dashboard_notification {
	padding: 12px 24px;
	width: 25%;
	right: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 70px rgba(99, 99, 99, 0.15);
	border-radius: 20px;
}

.dashboard_notification-list-income-expanse {
	padding: 12px 24px;
	background-color: #ffffff;
	display: flex;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	cursor: pointer;
}
.dashboard_notification-list-description {
	margin: 0px 12px;
}
.dashboard_notification-list-description p {
	color: #7a7a7a;
	font-size: 14px;
}
.dashboard_notification-list-description h5 {
	color: #43484f;
	font-weight: bold;
	font-size: 18px;
}

/* LANDING PAGES */

.home-main {
	background-color: #6379f4;
	height: 70vh;
}
.home-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.home-column {
	padding: 24px 92px;
}
.home-button-logged {
	border: none;
	padding: 6px 34px;
	margin: 0px 10px;
	background-color: transparent;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	border: 2px solid #ffffff;
	box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
	border-radius: 12px;
}
.home-button-registration {
	border: none;
	padding: 6px 34px;
	margin: 0px 10px;
	border: 2px solid #ffffff;
	box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
	border-radius: 12px;
	color: #6379f4;
	font-weight: bold;
	font-size: 18px;
}
.home-try-free {
	background-color: #ffffff;
	box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
	border-radius: 12px;
	border: none;
	padding: 12px 24px;
	color: #6379f4;
	font-weight: bold;
	font-size: 18px;
}
.home-title-choose-zwallet {
	margin-top: 60px;
	text-align: center;
	color: #6379f4;
	font-weight: 800;
	font-size: 60px;
}
